{% extends 'base.html' %}
{% block header %}
    {% include 'Administrador/navAdministrador.html' %}
{% endblock %}
{% load static %}
{% comment %}#{{ form.as_p }}{% endcomment %}
{% block body %}

    <form  class="col s12" enctype="multipart/form-data" method="post" action="{{ action_save }}">
      <div class="container">
        <div class="row">
        <div>
          <h3 class="center-align" >{{ form_title }}</h3>
        </div>


              {% csrf_token %}
              {% block controls %}

              {% endblock %}


        </div>
      </div>
        <div class="container text-lighten-3">
            <button class="btn waves-effect waves-purple" type="submit" name="action">{{ boton }}
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>

{% endblock %}
{% block js %}
<script type="application/javascript">

    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{ error|escapejs }}<br>';  // Cada error de campo en una nueva línea usando <br>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errors += '{{ error|escapejs }}<br>';  // Cada error no asociado a un campo en una nueva línea usando <br>
        {% endfor %}
        Swal.fire({
            title: 'Error!',
            html: errors,  // Usamos html en lugar de text para interpretar <br> como saltos de línea
            icon: 'error',
            customClass: {
                popup: 'swal2-popup',
                title: 'swal2-title',
                content: 'swal2-content'
            }
        });
    {% endif %}

    </script>

{% endblock %}

{# Este funciona pero las lìnas las deja todas unidas #}
{#        {% if form.errors %}#}
{#            var errors = '';#}
{#            {% for field in form %}#}
{#                {% for error in field.errors %}#}
{#                    errors += '{{ error }}\n';#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#            {% for error in form.non_field_errors %}#}
{#                errors += '{{ error }}\n';#}
{#            {% endfor %}#}
{#            Swal.fire({#}
{#                title: 'Error!',#}
{#                text: errors,#}
{#                icon: 'error'#}
{#            });#}
{#        {% endif %}#}